<footer>
    <div class="footer-nav">
        <div class="container clearfix">
            <ul class="list-unstyled pull-left">
                <li><h3>More cool stuff</h3></li>
                <li><a title="Community members" href="/community">Community members</a></li>
                <li><a title="Other community hubs" href="/channels/communities">Other community hubs</a></li>
                <li><a title="Hardware Weekend" href="/hardwareweekend">Hardware Weekend</a></li>
                <li><a title="Hacker Spaces" href="/hackerspaces">Hacker spaces</a></li>
                <li><h3 style="margin-top:20px">Visit our Avnet family</h3></li>
                <li><a target="_blank"
                       data-ha="{&quot;eventName&quot;:&quot;Clicked link&quot;,&quot;customProps&quot;:{&quot;value&quot;:&quot;Avnet&quot;,&quot;href&quot;:&quot;https://www.avnet.com&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;location&quot;:&quot;Avnet&quot;},&quot;clickOpts&quot;:{&quot;delayRedirect&quot;:true}}"
                       href="https://www.avnet.com">Avnet</a></li>
                <li><a target="_blank"
                       data-ha="{&quot;eventName&quot;:&quot;Clicked link&quot;,&quot;customProps&quot;:{&quot;value&quot;:&quot;Dragon Innovation&quot;,&quot;href&quot;:&quot;https://www.dragoninnovation.com&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;location&quot;:&quot;Avnet&quot;},&quot;clickOpts&quot;:{&quot;delayRedirect&quot;:true}}"
                       href="https://www.dragoninnovation.com">Dragon Innovation</a></li>
                <li><a target="_blank"
                       data-ha="{&quot;eventName&quot;:&quot;Clicked link&quot;,&quot;customProps&quot;:{&quot;value&quot;:&quot;Element14&quot;,&quot;href&quot;:&quot;https://www.element14.com&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;location&quot;:&quot;Avnet&quot;},&quot;clickOpts&quot;:{&quot;delayRedirect&quot;:true}}"
                       href="https://www.element14.com">Element14</a></li>
                <li><a target="_blank"
                       data-ha="{&quot;eventName&quot;:&quot;Clicked link&quot;,&quot;customProps&quot;:{&quot;value&quot;:&quot;Maker Source&quot;,&quot;href&quot;:&quot;https://www.makersource.io&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;location&quot;:&quot;Avnet&quot;},&quot;clickOpts&quot;:{&quot;delayRedirect&quot;:true}}"
                       href="https://www.makersource.io">Maker Source</a></li>
                <li><a target="_blank"
                       data-ha="{&quot;eventName&quot;:&quot;Clicked link&quot;,&quot;customProps&quot;:{&quot;value&quot;:&quot;Newark&quot;,&quot;href&quot;:&quot;http://www.newark.com&quot;,&quot;type&quot;:&quot;footer&quot;,&quot;location&quot;:&quot;Avnet&quot;},&quot;clickOpts&quot;:{&quot;delayRedirect&quot;:true}}"
                       href="http://www.newark.com">Newark</a></li>
            </ul>
            <ul class="list-unstyled pull-left">
                <li><h3>Legal thingies</h3></li>
                <li><a title="Terms of Service" href="/terms">Terms of Service</a></li>
                <li><a title="Code of Conduct" href="/conduct">Code of Conduct</a></li>
                <li><a title="Privacy Policy" href="/privacy">Privacy Policy</a></li>
            </ul>
            <ul class="list-unstyled pull-left">
                <li><h3>About us</h3></li>
                <li><a title="Hackster's story" href="/about">Hackster's story</a></li>
                <li><a title="Our kickass blog" href="https://blog.hackster.io">Our kickass blog</a></li>
                <li><a title="Our 2016 Maker Survey" href="/survey">Our 2016 Maker Survey</a></li>
                <li><a title="Hackster for Business" href="/business">Hackster for Business</a></li>
                <li><a target="_blank" title="Support Center" href="http://help.hackster.io">Support Center</a></li>
                <li><a title="Developer API" href="https://hacksterio.api-docs.io/2.0">Developer API</a></li>
                <li><a title="Sitemap" href="/sitemap.xml.html">Sitemap</a></li>
            </ul>
            <ul class="list-unstyled pull-left">
                <li><h3>We're fairly social people</h3></li>
                <li><a title="Hackster.io on Facebook" href="https://www.facebook.com/hacksterio"><i
                        class="fa fa-facebook"></i><span>Facebook</span></a></li>
                <li><a title="Hackster.io on Google+" href="https://plus.google.com/+hacksterio"><i
                        class="fa fa-google-plus"></i><span>Google+</span></a></li>
                <li><a title="Hackster.io on Instagram" href="https://www.instagram.com/hacksterio"><i
                        class="fa fa-instagram"></i><span>Instagram</span></a></li>
                <li><a title="Hackster.io on Twitter" href="https://www.twitter.com/hacksterio"><i
                        class="fa fa-twitter"></i><span>Twitter</span></a></li>
                <li><a title="Hackster.io on YouTube" href="https://www.youtube.com/hacksterio"><i
                        class="fa fa-youtube"></i><span>YouTube</span></a></li>
            </ul>
            <ul class="list-unstyled list-inline pull-right">
                <li>Hackster.io, a division of Avnet © 2018</li>
            </ul>
        </div>
    </div>
</footer>